.jumbotron {
  background-color: #ffff4f;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  margin-top: 0px;
  margin-bottom: 5px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffff4f;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.img-fluid {
  padding-bottom: 10px;
}
